{{- $machine := promptStringOnce . "machine" "Machine" -}}

encryption = "age"
[age]
    {{ if eq $machine "thinkpad"}}identity = "/home/fischer/chezmoi.txt"{{ else }}identity = "/usr/users/fischer/chezmoi.txt"{{ end }}
    recipient = "age1u6pgfe46w0pud9afjrqn28ukecddfgcy9d54kyru6pmjda89adms4emt6j"
    
[data]
    machine = {{ $machine | quote }}
    domain = ".cel.kit.edu"
    cel_username = "fischer"
    data_server = "gw1.cel.kit.edu"
    git_email = "rodrfischer@gmail.com"
    git_name = "Rodrigo Fischer"

[edit]
    command = "code"
    args = ["--wait"]
