* {
  font-family: "Ubuntu Sans Mono";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  padding: 0 4px;
  min-width: 30px;
  transition: box-shadow 0.5s;
  border: none;
  border-radius: 0;
}

#workspaces button:hover{
  box-shadow: inset 0 2px shade(@rteal, 1.7);
}

#workspaces button.focused {
  background-color: rgba(0,0,0,0.3);
  color:@rteal;
  box-shadow: inset 0 2px @rteal;
}

#workspaces button.urgent {
  color:#000010;
  background-color: shade(@ryellow, 0.9);
}

#mode {
  background-color: mix(shade(@rteal, 1.6), #000000, 0.2);
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#tray,
#idle_inhibitor,
#scratchpad,
#custom-quit,
#custom-power,
#custom-reboot,
#custom-lock {
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: rgba(0,0,0,0.3);
  color: #ffffff;
  border-radius: 3px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size:14px;
  font-weight: bold;
}

#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: shade(@rgreen, 0.8);
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
  background-color: shade(@rred, 0.9);
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  background-color: shade(@rred, 0.9);
}

#idle_inhibitor.activated {
  background-color: alpha(shade(@rteal, 1.8), 0.9);
  color: mix(#000000, #ffffff, 0.1);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: shade(@rred, 0.9);
}
